.icon-hover {
  transition: transform 0.3s ease-in-out, color 0.8s ease-in-out;
}

.icon-hover:hover {
  transform: scale(1.5);
  color: white;
}

.ProfilePhoto {
  max-height: 100px;
  width: 100px!important;
  height: 100px;
  margin-right: 1rem;
}

.ProfilePhoto > img {
   height: 100%;
   width: 100%;
   border-radius: 50%
}